body {
    --v3836584028: var(--flag-light,rgba(25,27,31,0)) var(--flag-dark,hsla(0,0%,100%,0));
    color: #191b1f;
    color: var(--GBK02A);
    font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
    font-family: var(--zFontSansSerif);
    font-size: var(--app-font-size);
}
.Question-mainColumn * {
    margin: revert;/*还原:让当前元素的样式还原成浏览器内置的样式*/
    padding: revert;
}

.Question-mainColumn ol, .Question-mainColumn ul {
    list-style: initial;
}
.QuestionHeader {
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    overflow: hidden;
    padding: 16px 0;
    position: relative;
}

.QuestionHeader-main {
    -ms-flex-negative: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    flex-shrink: 0;
    padding-left: 20px;
    width: 694px;
}

.QuestionHeader-tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

QuestionHeader-title {
    color: #191b1f;
    line-height: 32px;
}

.QuestionHeader-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 3px;
    margin-top: 12px;
}

h1, h2, h3 {
    font: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.QuestionHeader-topics {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1px 0;
}

.QuestionHeader-title {
    color: #191b1f;
    line-height: 32px;
}

.QuestionHeader-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 3px;
    margin-top: 12px;
}

h1, h2, h3 {
    font: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

.css-dojgf2 {
    height: 1px;
}

.css-moxmo5 {
    position: absolute;
    height: 1px;
    bottom: -2px;
}

.css-4cffwv {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.LabelContainer-wrapper:empty {
    margin: 0;
}

.css-eew49z {
    min-height: 10px;
}

.QuestionHeader-side {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 285px;
    min-width: 216px;
    text-align: right;
}

.QuestionHeader-side {
    text-align: right;
}

.NumberBoard {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.QuestionFollowStatus-counts .NumberBoard-itemInner {
    padding: 0 8px;
}

.NumberBoard-itemInner {
    line-height: 1.6;
    text-align: center;
}

.NumberBoard-itemInner {
    line-height: 1.6;
    text-align: center;
}

.NumberBoard-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
}

.NumberBoard-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
}

.NumberBoard--divider .NumberBoard-item + .NumberBoard-item .NumberBoard-itemInner {
    border-left: 1px solid #ebeced;
}

.NumberBoard--divider .NumberBoard-item + .NumberBoard-item .NumberBoard-itemInner {
    border-left: 1px solid #ebeced;
}

.QuestionFollowStatus-counts .NumberBoard-itemInner {
    padding: 0 8px;
}

.QuestionFollowStatus-counts .NumberBoard-itemInner {
    padding: 0 8px;
}

.NumberBoard-itemInner {
    line-height: 1.6;
    text-align: center;
}

.QuestionHeader-content {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    max-width: calc(500px + 50vw);
    padding-left: calc(50vw - 500px);
    width: 100vw;
}

.QuestionHeader-footer {
    background: #fff;
    margin-bottom: -12px;
    margin-top: 4px;
    padding-bottom: 12px;
    padding-left: calc(50vw - 500px);
}

.QuestionHeader-footer-inner, .QuestionHeader-footer-main {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.QuestionHeader-footer-inner {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
}

.QuestionHeader-footer-main {
    margin-top: 4px;
    min-width: 694px;
    width: auto;
    /*margin-left: 269px;*/
}

.QuestionButtonGroup {
    display: inline-block;
    margin: 0 -8px;
}

.QuestionButtonGroup .Button {
    margin: 0 8px;
}

.QuestionButtonGroup + .QuestionHeaderActions {
    margin-left: 16px;
}

.QuestionHeaderActions {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.QuestionHeader-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 16px;
}

.QuestionHeader-topics {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1px 0;
}
.QuestionHeader-topics .QuestionTopic {
    margin: 3px 5px 3px 0;
    vertical-align: middle;
}
.css-ch8ocw:hover {
    background-color: rgba(23,114,246,0.15);
}
.css-ch8ocw {
    position: relative;
    display: inline-block;
    height: 30px;
    padding: 0 12px;
    font-size: 14px;
    line-height: 30px;
    color: #1772F6;
    vertical-align: top;
    border-radius: 100px;
    background: rgba(23,114,246,0.1);
    background-color: rgba(23, 114, 246, 0.1);
}
.css-ch8ocw {
    font-size: 10px;
    line-height: 30px;
    color: #1772F6;
}

a {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
}
.css-1gomreu {
    position: relative;
    display: inline-block;
}

.css-1mgcfmo {
    box-sizing: border-box;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    min-width: 0;
    background-color: #f4f6f9;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
.Question-main {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    min-height: 100vh;
    padding-left: calc(50vw - 500px);
}
.css-1qyytj7 {
    max-width: 296px;
    align-self: normal;
    margin-right: 200px;
}

.Question-mainColumnLogin {
    background-color: #fff;
    background-color: var(--GBK99A);
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
    box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
    margin-bottom: 8px;
}
.ViewAll {
    overflow: visible;
    overflow: initial;
}
.Card {
    box-sizing: border-box;
}
.AnswerCard {
    overflow: visible;
    overflow: initial;
}
.button-zhanKai{
    margin-top: 172px;
}
.Card {
    --v4227349361: var(--flag-light,0 1px 3px rgba(0,0,0,.1)) var(--flag-dark,0 1px 3px rgba(0,0,0,.1));
    background: #fff;
    background: var(--GBK99A);
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    box-shadow: var(--v4227349361);
    margin-bottom: 10px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}
.Question-mainColumnLoginImg {
    margin: 10px 0 0 20px;
}
.Question-mainColumnLoginContent {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    margin: 10px 0 0 20px;
}
.Question-mainColumnLoginRightButton {
    margin: 18px 20px 0 0;
}
.Question-mainColumnLoginDesIcon {
    margin-right: 30px;
}
.css-1qyytj7 {
    max-width: 296px;
    align-self: normal;
}
.Question-mainColumn {
    padding-bottom: 20px;
    width: 694px;
    /*margin-left: 284px;*/
}
.Card-header {
    align-items: center;
    border-bottom: 1px solid #f8f8fa;
    border-bottom: 1px solid var(--GBK10A);
    box-sizing: border-box;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 0 20px;
    padding: 0 var(--zhc-padding-horizontal,20px);
}
.Card-section {
    padding: 16px 20px;
    padding: var(--zhc-padding-vertical,16px) var(--zhc-padding-horizontal,20px);
    position: relative;
}
.AnswerAuthor-user {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.AnswerAuthor-user-avatar {
    margin-right: 12px;
}
.AnswerAuthor-user-avatar .UserLink {
    display: block;
}
a {
    color: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
}
.AnswerAuthor-user-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    overflow: hidden;
}
.AnswerAuthor-user-name {
    color: #191b1f;
    color: var(--GBK02A);
    line-height: 30px;
}
.AnswerAuthor-user-headline {
    font-size: 14px;
    line-height: 20px;
}
.AnswerAuthor-user-headline, .AnswerAuthor-user-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.AnswerAuthor-user-headline .ztext, .AnswerAuthor-user-name .ztext {
    overflow: hidden;
    text-overflow: ellipsis;
}
.ztext {
    line-height: 1.6;
    word-break: break-word;
}
element.style {
    width: 694px;
    bottom: 0px;
    left: 16px;
}
