<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.article.mapper.ArticleMapper">

    <!--    <resultMap id="resultMap" type="com.cx.model.article.pojos.Article">-->
    <resultMap id="resultMap" type="com.cx.model.article.dtos.ArticleDto">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="author_id" property="authorId"/>
        <result column="author_name" property="authorName"/>
        <result column="channel_id" property="channelId"/>
        <result column="channel_name" property="channelName"/>
        <result column="layout" property="layout"/>
        <result column="flag" property="flag"/>
        <result column="images" property="images"/>
        <result column="labels" property="labels"/>
        <result column="likes" property="likes"/>
        <result column="collection" property="collection"/>
        <result column="comment" property="comment"/>
        <result column="views" property="views"/>
        <result column="province_id" property="provinceId"/>
        <result column="city_id" property="cityId"/>
        <result column="county_id" property="countyId"/>
        <result column="created_time" property="createdTime"/>
        <result column="publish_time" property="publishTime"/>
        <result column="sync_status" property="syncStatus"/>
        <result column="static_url" property="staticUrl"/>
        <result column="content" property="content"/>
        <result column="question_id" property="questionId"/>
    </resultMap>

    <select id="loadArticleList" resultMap="resultMap">
        SELECT
        aa.*,
        ac.content as content
--         ac.question_id
        FROM
        `article` aa
        LEFT JOIN article_config aac ON aa.id = aac.article_id
        LEFT JOIN article_content ac ON aa.id = ac.article_id
        <where>
            and aac.is_delete != 1
            and aac.is_down != 1
            <!-- loadmore -->
            <if test="type != null and type == 1">
                and aa.publish_time <![CDATA[<]]> #{dto.minBehotTime}
            </if>
            <if test="type != null and type == 2">
                and aa.publish_time <![CDATA[>]]> #{dto.maxBehotTime}
            </if>
            <if test="dto.tag != '__all__'">
                and aa.channel_id = #{dto.tag}
            </if>
        </where>
        order by aa.publish_time desc
        limit #{dto.size}
    </select>

    <select id="detail" resultType="com.cx.model.article.dtos.ArticleDto">
        SELECT
            aa.*,
            ac.*
        FROM
            article aa
                LEFT JOIN article_content ac ON aa.id = ac.article_id
        WHERE
            aa.id = #{id}
    </select>

    <select id="recommendList" resultType="com.cx.model.article.vo.RecommendVO">
        SELECT q.id AS question_id, q.title,  a.id AS article_id, a.likes AS likes, ac.content
        FROM question q
                 LEFT JOIN article a ON q.id = a.question_id
                 LEFT JOIN article_content ac ON a.id = ac.article_id
                 LEFT JOIN (
            SELECT question_id, MAX(likes) AS max_likes
            FROM article
            GROUP BY question_id
        ) max_likes_tbl ON a.question_id = max_likes_tbl.question_id
        WHERE a.likes = max_likes_tbl.max_likes
        ORDER BY
            a.publish_time DESC
        LIMIT 10 OFFSET #{dto.page}; -- 页数

    </select>
    <select id="interestedList" resultType="com.cx.model.article.vo.RecommendVO">
        SELECT q.id AS question_id, q.title,  a.id AS article_id, a.likes AS likes, ac.content
        FROM question q
                 LEFT JOIN article a ON q.id = a.question_id
                 LEFT JOIN article_content ac ON a.id = ac.article_id
                 LEFT JOIN (
            SELECT question_id, MAX(likes) AS max_likes
            FROM article
            GROUP BY question_id
        ) max_likes_tbl ON a.question_id = max_likes_tbl.question_id
        WHERE a.likes = max_likes_tbl.max_likes AND a.author_id = #{id}
            LIMIT 5 OFFSET 0
    </select>


</mapper>